<div class="container" style="display: flex; justify-content: center;">
<div class="row">
<div class="col-sm">

<br/>
<%= link_to 'keyboard_return', :back, class:"material-icons returnicon" %>
<%= link_to 'Return', :back, class:"returnicon returnword" %>

<div class="ektitle ektitlediv">
  <p>Update Your Profile</p>
</div>

<div class="profilephotodiv leftprofilediv">
  <p><%= image_tag 'cardboard_bg.jpg', size: "286x220"%></p>
  <br/>
  <p><%= button_tag 'Upload Restaurant\'s Photo', class: "btn btn-sm ekthemebtn"%></p>

  <div class="separator"></div>

  <p><strong>Cancel My Account</strong></p>
  <%= button_to "Cancel my account now", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn ekcancelbtn btn-sm" %></p>

</div>

<div class="ekedituserdiv">
<div class="ekedituserinnerdiv">

  <div class="textcenter"><%= devise_error_messages! %><br/></div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="field">
      <strong><%= f.label :name %></strong><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"btn btn-sm themeprofileinput disabled" %>
    </div>

    <br/>
    <div class="field">
      <strong><%= f.label :email %></strong><br />
      <%= f.email_field :email, autocomplete: "email", class:"btn btn-sm themeprofileinput disabled" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <br/>
    <div class="field">
      <strong><%= f.label :current_password %></strong><br/>
      <%= f.password_field :current_password, autocomplete: "off", class:"btn btn-sm themeprofileinput disabled" %><br/>
      <em class="hintmsg">(we need your current password to confirm your changes)</em>
    </div>

    <br/>
    <div class="field">
      <strong><%= f.label :password, 'New Password' %></strong><br/>
      <%= f.password_field :password, autocomplete: "off", class:"btn btn-sm themeprofileinput disabled" %>
      <% if @minimum_password_length %>
        <br />
        <em class="hintmsg"><%= @minimum_password_length %> characters minimum</em><br/>
        <em class="hintmsg"> (leave blank if unchanged)</em>
        <br/>

      <% end %>
    </div>

    <br/>
    <div class="field">
      <strong><%= f.label :password_confirmation, 'New Password Confirmation' %></strong><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"btn btn-sm themeprofileinput disabled" %><br/>
      <em class="hintmsg"> (leave blank if unchanged)</em>
    </div>

    <br/>

    <div class="actions">
      <%= f.submit "Update", class:"btn btn-sm ekthemebtn" %>
    </div>
  <% end %>

  <br/>

</div>
</div>

<div style="height:100px"></div>

</div>
</div>
</div>