<div class="container swcontainer2">
  <div>
  <p class="ektitle">Sign Up</p><br/>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field swfield">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class:"btn btn-sm themeprofileinput disabled" %>
    </div>

    <div class="field swfield">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password (6 characters minimum)", class:"btn btn-sm themeprofileinput disabled" %>
    </div>

    <div class="field swfield">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", class:"btn btn-sm themeprofileinput disabled" %>
    </div>

    <div class="actions swactions">
      <%= f.submit "Sign up", class: "btn btn-sm ekthemebtn" %>
    </div>
  <% end %>
  <br />
  <br />
  <%= render "devise/shared/links" %>
  </div>
</div>