<div class="container table-index-container">
<div class="row">
<div class="col-sm">

<br/>
<%= link_to 'keyboard_return', :back, class:"material-icons returnicon" %>
<%= link_to 'Return', :back, class:"returnicon returnword" %>

<div class="ektitle ektitlediv">
  <p>Edit Your Profile</p>
</div>

<div class="setting-container">

  <div class="setting-photo-div">
    <p><%= image_tag 'profilepic.png', size: "200x200"%></p>
    <br/>
    <p><%= button_tag 'Upload Photo', class: "btn btn-sm ekthemebtn"%></p>
  </div>

  <div class="separator"></div>

  <div class="edit-field-div textcenter">
    <%= form_with scope: :patron, url: patron_path, method: :patch, local: true do |form| %>
      <p>
        <strong><%= form.label :name %></strong><br/>
        <%= form.text_field :name, class:"btn btn-sm themeprofileinput disabled" %><br>
      </p>
      <%= form.submit 'Save Profile', class:"btn btn-sm ekthemebtn" %>
    <% end %>
  </div>

</div>

</div>
</div>
</div>