<div class="container table-index-container">
<div class="row">
<div class="col-sm">

  <div class="ektitle ektitlediv">
    Profile
  </div>

  <div class="profileinfodiv">
    <div><%= image_tag 'profilepic.png', class:"wyprofileimg"%></div>
    <br>
    <p><strong>Name: </strong><%= @patron.name %></p>
    <p><strong>Email: </strong><%= @patron.email %></p>
  </div>


<div class="wycontainer">
    <div class="wybtns">
      <div class="editBtn">
        <h3 class="wytitle">Edit Profile</h3>
        <p>Edit your profile to change username</p>
        <%= button_to 'Edit Profile', edit_patron_path(current_patron), method: :get, class: "btn btn-sm buttonTo"%>
      </div>

      <div class="deleteBtn">
        <h3 class="wytitle">Delete Account</h3>
        <p>Sad to see you go</p>
        <%= button_to 'Delete Profile', patron_path(current_patron), method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
</div>

</div>
</div>
</div>