<div class="wycontainer">
    <div class="wyprofile">
      <div class="wyprofilepic">
        <h1 class="text-center">Profile</h1>
        <%= image_tag 'profilepic.gif', class:"wyprofileimg"%>
      </div>
        
      <div class="wyparticular">
        <h3 class="wyparticularh3 text-center">Name: <%= @patron.name %></h3><br>
        <h3 class="wyparticularh3 text-center">Email: <%= @patron.email %></h3>
      </div>
    </div>

    <div class="wybtns">
      <div class="editBtn">
        <h3 class="wytitle">Edit Profile</h3>
        <p>Edit your profile to change username</p>
        <%= button_to 'Edit Profile', edit_patron_path(current_patron), method: :get, class: "btn btn-info btn-sm"%>
      </div>

      <div class="deleteBtn">
        <h3 class="wytitle">Delete Account</h3>
        <p>Sad to see you go</p>
        <%= button_to 'Delete Profile', patron_path(current_patron), method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
</div>