<div class="container wycontainer">

    <h1 class="profile text-center">Profile</h1>

    <div class="wyprofilepic">
      <%= image_tag 'profilepic.gif'%>
    </div>
    
    <div class="wyparticular">
      <h3 class="text-center">Name: <%= @patron.name %></h3><br>
      <h3 class="text-center">Email: <%= @patron.email %></h3>
    </div>

    <div class="wybtns">
      <p><%= button_to 'Edit Profile', edit_patron_path(current_patron), method: :get, class: "btn btn-info btn-sm"%></p>
      <p><%= button_to 'Delete Profile', patron_path(current_patron), method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: 'Are you sure?' } %></p>
    </div>

</div>