<div class="container table-index-container">
<div class="row">
<div class="col-sm">

<div class="ektitle ektitlediv">
  <p>Your Bookings</p>
</div>

<div class="wraprow flexcenter">

  <% if @users.count > 0 %>
    <% @users.each do |user| %>
      <div class="card user-card">
      <%= image_tag("cardboard_bg.jpg", class:"card-img-top user-card-img") %>
        <div class="card-body">
          <h5 class="card-title"><strong><%= user.name %></strong></h5>
          <div class="user-detail-div">
            <%= image_tag("splashsm.png", size: "100x35") %>
            <%= link_to 'Details', user_path(user), class: "btn btn-sm user-detail-btn" %>
          </div><br/>
          <div>
            <%= button_to 'Cancel Booking', booking_delete_path(current_patron), method: :delete, params: { user_id: user.id }, class: "btn btn-sm cancel-btn" %>
          </div><br/>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="textcenter">
      <p>No bookings yet...</p>
      <p>Why not browse our extensive list of restaurants?</p>
      <br/>
      <div>
        <%= link_to 'YES PLEASE!', users_path, class: "btn btn-lg themejoinus" %>
      </div>
    </div>
  <% end %>

</div>

</div>
</div>
</div>