<div class="container table-index-container">
<div class="row">
<div class="col-sm">

<div class="ektitle ektitlediv">
  <p>First time here? Tell us more about yourself!</p>
</div>

<div class="setupdiv">
  <%= form_with scope: :user, url: user_update_path(current_user), local: true do |form| %>

  <h5>
    <strong><%= form.label :name, 'Name of your restaurant: ' %></strong><br><br>
    <%= form.text_field :name, class:"btn btn-sm themeprofileinput disabled" %>
  </h5>

  <br/><h5><strong>Tables in your restaurant:</strong></h5><br/>

  <div class="ekseatersetupdiv">

    <p><%= image_tag("table.png", size: "100x100") %></p>
    <%= image_tag("splash.png", size: "150x70") %>
    <h5 class="ekseatertype"><strong>2-Seaters</strong></h5><br/>

    <p>
      <%= form.number_field :two_seater, :min => 0, :max => 100, value: 0, class:"btn btn-sm themeprofileinput-short disabled" %>
    </p>

  </div>

  <div class="ekseatersetupdiv">

    <p><%= image_tag("table.png", size: "100x100") %></p>
    <%= image_tag("splash.png", size: "150x70") %>
    <h5 class="ekseatertype"><strong>4-Seaters</strong></h5><br/>

    <p>
      <%= form.number_field :four_seater, :min => 0, :max => 100, value: 0, class:"btn btn-sm themeprofileinput-short disabled" %>
    </p>

  </div>

  <div class="ekseatersetupdiv">

    <p><%= image_tag("table.png", size: "100x100") %></p>
    <%= image_tag("splash.png", size: "150x70") %>
    <h5 class="ekseatertype"><strong>6-Seaters</strong></h5><br/>

    <p>
      <%= form.number_field :six_seater, :min => 0, :max => 100, value: 0, class:"btn btn-sm themeprofileinput-short disabled" %>
    </p>

  </div>

  <p>
    <%= form.submit 'Save My Info!', class:"btn btn-sm ekthemebtn" %>
  </p>

  <div class="form-submit-separator"></div>

<% end %>

</div>
</div>
</div>