<div class="container" style="display: flex; justify-content: center; background-color: #EEE2DC; color: #123C69;">
<div class="row">
<div class="col-sm">

  <div class="ektitle ektitlediv">
    <%= link_to 'keyboard_return', users_path, class:"material-icons returnicon" %>
    <p>Tables available at <%= @user.name %></p>

    <% if patron_signed_in? %>
      <% if @is_favourite %>
        <%= button_to 'favorite', favourite_delete_path(current_patron), method: :delete, params: { user_id: @user.id }, class:"favouritebtn material-icons"%>
      <% else %>
        <%= button_to 'favorite_border', patron_favourites_path(current_patron), method: :post, params: { user_id: @user.id }, class:"favouritebtn material-icons" %>
      <% end %>
    <% end %>

  </div>

  <div style="margin-top: 50px">
    <div style="text-align: center; float: left; width: 300px; height: 450px; margin-right: 20px; padding: 10px">
      <p><%= image_tag("table.png", size: "200x200") %></p>
      <%= image_tag("splash.png", size: "150x70") %>
      <h5 style="margin-top: -40px">2-Seaters</h5><br/>
    <div class="card" style="background-color: #EEE2DC; border: 1px solid #AC3B61;"><div class="card-body">
      <h5>Tables available: <%= @two_seaters_free.count %> / <%= @two_seaters_total %></h5>
    </div></div>
    </div>

    <div style="text-align: center; float: left; width: 300px; height: 450px; margin-right: 20px; padding: 10px">
      <p><%= image_tag("table.png", size: "200x200") %></p>
      <%= image_tag("splash.png", size: "150x70") %>
      <h5 style="margin-top: -40px">4-Seaters</h5><br/>
    <div class="card" style="background-color: #EEE2DC; border: 1px solid #AC3B61;"><div class="card-body">
      <h5>Tables available: <%= @four_seaters_free.count  %> / <%= @four_seaters_total %></h5>
    </div></div>
    </div>

    <div style="text-align: center; float: left; width: 300px; height: 450px; padding: 10px">
      <p><%= image_tag("table.png", size: "200x200") %></p>
      <%= image_tag("splash.png", size: "150x70") %>
      <h5 style="margin-top: -40px">6-Seaters</h5><br/>
    <div class="card" style="background-color: #EEE2DC; border: 1px solid #AC3B61;"><div class="card-body">
      <h5>Tables available: <%= @six_seaters_free.count  %> / <%= @six_seaters_total %></h5>
    </div></div>
    </div>
  </div>

  <div>
    <p><strong>Address</strong>: &nbsp;8 Claymore Hill, Singapore 168888</p>
    <p><strong>Contact</strong>: &nbsp;6888-6888</p>

    <div class="detaildiv">
      <%= image_tag("splashsm.png", size: "100x35") %>
      <a href="#" class="booknowbtn">Book Now!</a>
    </div>

  </div>

</div>
</div>
</div>
