<div class="container">
<div class="row">
<div class="col-md-12">

  <div class="flexcenter flexcolumn">

    <div class="ektitle ektitlediv">
      <p>Forgot your password?</p>
    </div>

    <div class="textcenter"><%= devise_error_messages! %><br/></div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your registered email", class:"btn btn-sm themeprofileinput disabled" %>
      </div>

      <div class="flexcenter themeprofileinput">
        <%= f.submit "Reset Password", class: "btn btn-sm ekthemebtn" %>
      </div>

    <% end %>

    <%= render "devise/shared/links" %>

  </div>

  </div>
  </div>
  </div>