<div class="container table-index-container">
<div class="row">
<div class="col-sm">

<div class="ektitle ektitlediv">
  <p>Welcome Back, <%= @user.name%></p>
  <p class="ektitledesc">This is your dashboard to control your current table flow.</p>
</div>

  <div class="ekseaterdiv">
    <p><%= image_tag("table.png", size: "200x200") %></p>
    <%= image_tag("splash.png", size: "150x70") %>
    <h5 class="ekseatertype">2-Seaters</h5><br/>

    <div class="card ekcarddiv"><div class="card-body">
      <h5 id="2_seater_free_tables">Tables available: <%= @two_seaters_free_total  %></h5><br/>
      <div class="ekadjustbtn">
        <p><%= link_to '+', table_update_path(user_id: current_user.id, seater: 2, free: true), remote: true, method: :patch, class:"btn btn-light adjustbtn" %>&nbsp;&nbsp;&nbsp;</p>&nbsp;&nbsp;&nbsp;
        <p><%= link_to '-', table_update_path(user_id: current_user.id, seater: 2, free: false), remote: true, method: :patch, class:"btn btn-light adjustbtn" %>&nbsp;&nbsp;&nbsp;</p>
      </div>
    </div></div><br/>

    <div class="card ekcarddiv"><div class="card-body">
      <h5 id="2_seater_total_tables">Total tables: <%= @two_seaters_total %></h5><br/>
      <div class="ekadjustbtn">
        <p><%= link_to '+', user_tables_path(user_id: current_user.id, seater: 2, is_free: true), remote: true, method: :post, class:"btn btn-light adjustbtn" %>&nbsp;&nbsp;&nbsp;</p>&nbsp;&nbsp;&nbsp;
        <p><%= link_to '-', table_delete_path(user_id: current_user.id, seater: 2), remote: true, method: :delete, class:"btn btn-light adjustbtn" %>&nbsp;&nbsp;&nbsp;</p>
      </div>
    </div></div><br/>
  </div>

  <div class="ekseaterdiv">
    <p><%= image_tag("table.png", size: "200x200") %></p>
    <%= image_tag("splash.png", size: "150x70") %>
    <h5 class="ekseatertype">4-Seaters</h5><br/>

    <div class="card ekcarddiv"><div class="card-body">
      <h5 id="4_seater_free_tables">Tables available: <%= @four_seaters_free_total  %></h5><br/>
      <div class="ekadjustbtn">
        <p><%= link_to '+', table_update_path(user_id: current_user.id, seater: 4, free: true), remote: true, method: :patch, class:"btn btn-light adjustbtn" %>&nbsp;&nbsp;&nbsp;</p>&nbsp;&nbsp;&nbsp;
        <p><%= link_to '-', table_update_path(user_id: current_user.id, seater: 4, free: false), remote: true, method: :patch, class:"btn btn-light adjustbtn" %>&nbsp;&nbsp;&nbsp;</p>
      </div>
    </div></div><br/>

    <div class="card ekcarddiv"><div class="card-body">
      <h5 id="4_seater_total_tables">Total tables: <%= @four_seaters_total %></h5><br/>
      <div class="ekadjustbtn">
        <p><%= link_to '+', user_tables_path(user_id: current_user.id, seater: 4, is_free: true), remote: true, method: :post, class:"btn btn-light adjustbtn" %>&nbsp;&nbsp;&nbsp;</p>&nbsp;&nbsp;&nbsp;
        <p><%= link_to '-', table_delete_path(user_id: current_user.id, seater: 4), remote: true, method: :delete, class:"btn btn-light adjustbtn" %>&nbsp;&nbsp;&nbsp;</p>
      </div>
    </div></div><br/>
  </div>

  <div class="ekseaterdiv">
    <p><%= image_tag("table.png", size: "200x200") %></p>
    <%= image_tag("splash.png", size: "150x70") %>

    <h5 class="ekseatertype">6-Seaters</h5><br/>
    <div class="card ekcarddiv"><div class="card-body">
      <h5 id="6_seater_free_tables">Tables available: <%= @six_seaters_free_total  %></h5><br/>
      <div class="ekadjustbtn">
        <p><%= link_to '+', table_update_path(user_id: current_user.id, seater: 6, free: true), remote: true, method: :patch, class:"btn btn-light adjustbtn" %>&nbsp;&nbsp;&nbsp;</p>&nbsp;&nbsp;&nbsp;
        <p><%= link_to '-', table_update_path(user_id: current_user.id, seater: 6, free: false), remote: true, method: :patch, class:"btn btn-light adjustbtn" %>&nbsp;&nbsp;&nbsp;</p>
      </div>
    </div></div><br/>

    <div class="card ekcarddiv"><div class="card-body">
      <h5 id="6_seater_total_tables">Total tables: <%= @six_seaters_total %></h5><br/>
      <div class="ekadjustbtn">
        <p><%= link_to '+', user_tables_path(user_id: current_user.id, seater: 6, is_free: true), remote: true, method: :post, class:"btn btn-light adjustbtn" %>&nbsp;&nbsp;&nbsp;</p>&nbsp;&nbsp;&nbsp;
        <p><%= link_to '-', table_delete_path(user_id: current_user.id, seater: 6), remote: true, method: :delete, class:"btn btn-light adjustbtn" %>&nbsp;&nbsp;&nbsp;</p>
      </div>
    </div></div><br/>
  </div>

</div>
</div>
</div>

<div style="height:100px;"></div>
</div>


