<div class="container swcontainer2">
  <div>
    <div class="ektitle ektitlediv">
      <p>Log In</p>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field swfield">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "Email", class:"btn btn-sm themeprofileinput disabled" %>
      </div>

      <div class="field swfield">
        <%= f.password_field :password, autocomplete: "off" , placeholder: "Password", class:"btn btn-sm themeprofileinput disabled" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions swactions">
        <%= f.submit "Log in", class: "btn btn-sm ekthemebtn" %>
      </div>
    <% end %>
    <br />
    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>
