<!DOCTYPE html>
<html>

 <%#--------------------------------- modal ----------------------------------------------------------------------%>

  <%# Sign in Modal %>
  <div id="modal-window-1" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign in as a Restaurant or a patron?</h5>
        </div>
        <div class="modal-body">
          <%= button_to "Patron", new_patron_session_path, method: :get, class:"patronbtn" %>
          <%= button_to "Restaurant", new_user_session_path, method: :get, class:"userbtn" %>
          <br />
          <br />
          <%= image_tag("modal_icon.png", size: "70x70", class:"modal_img")%>
        </div>
      </div>
    </div>
  </div>

  <%# Sign up Modal %>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign up as a Restaurant or a Patron?</h5>
        </div>
        <div class="modal-body">
          <%= button_to "Patron", new_patron_registration_path, method: :get, class:"patronbtn" %>
          <%= button_to "Restaurant", new_user_registration_path, method: :get, class:"userbtn" %>
          <br />
          <br />
          <%= image_tag("modal_icon.png", size: "70x70", class:"modal_img")%>
        </div>
      </div>
    </div>
  </div>

  <%#-------------------------------- End of modal -----------------------------------------------------------------------%>
  <head>
    <title>Crowded Not</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
       <div class="navcontainer">
          <nav class="navbar navbar-expand-lg navbar-light col-12">

            <%# Logo ---------------------------------------------------------------------------------------------------------------------------------%>
            <%= link_to image_tag("logo.svg", size: "100x50"), root_url, method: :get, class: "navbar-brand d-flex mr-auto" %>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

              <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

                <%# Search -------------------------------------------------------------------------------------------------------------------------------%>
                <%if !current_page?(root_path) %>
                  <%= form_with url: users_path, method: :get, class: "navbar-form navbar-right form-inline eksearch", local: true do |form| %>
                  <div class="form-group">
                    <%= form.text_field :search, class: "form-control", placeholder: "search" %>
                  </div>
                    <%# <%= form.submit 'Search', class: "btn btn-default" %>
                  <% end %>
                <% end %>

                <%# Explore -------------------------------------------------------------------------------------------------------------------------------%>
                <%= link_to 'Explore', users_url, method: :get, class: "nav-item active nav-link" %>

                <%# Others --------------------------------------------------------------------------------------------------------------------------------%>
                 <% if !user_signed_in? && !patron_signed_in? %>
                  <%= link_to 'Sign In', signin_modal_path, remote: true, data: { target: "#modal-window-1", toggle: "modal" }, class: "nav-item active nav-link" %>
                  <%= link_to 'Sign Up', signup_modal_path, remote: true, data: { target: "#modal-window", toggle: "modal" }, class: "nav-item nav-link btn btn-outline-success my-2 my-sm-0" %>

                <% elsif user_signed_in? %>
                  <%= link_to 'Dashboard', user_tables_path(current_user), class: "nav-item active nav-link" %>
                  <%= link_to 'Sign Out', destroy_user_session_url, method: :delete, class: "nav-item active nav-link" %>

                <% elsif patron_signed_in? %>
                  <%= link_to 'Profile', patron_path(current_patron), class: "nav-item nav-link" %>
                  <%= link_to 'My Favourites', patron_favourites_path(current_patron), class: "nav-item active nav-link" %>
                  <%= link_to 'Sign Out', destroy_patron_session_url, method: :delete, class: "nav-item active nav-link" %>
                <% end %>
              </div>
          </nav>
      </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 py-3">

        <% if notice %>
          <div class="alert alert-warning" role="alert"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
        <% end %>

        <%= yield %>
        </div>
      </div>
    </div>

    <footer class="page-footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 py-3">
            <div class="mb-4 flex-center">
              <a href="#"><i class="fa fa-facebook fa-lg mr-md-5 mr-3"></i></a>
              <a href="#"><i class="fa fa-twitter fa-lg mr-md-5 mr-3"></i></a>
              <a href="#"><i class="fa fa-linkedin fa-lg mr-md-5 mr-3"></i></a>
              <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
            </div>
            <p>© 2018 Copyright &nbsp;&nbsp;<a href="#">CrowdedNot</a></p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>