<!DOCTYPE html>
<html>
  <head>
    <title>GaProject3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <%= link_to 'Home', root_url, method: :get %>
      <%= link_to 'Explore', users_url, method: :get %>

      <% if !user_signed_in? && !patron_signed_in? %>
        <%= link_to 'Sign In As Restaurant', new_user_session_url, method: :get %>
        <%= link_to 'Sign In As Patron', new_patron_session_url, method: :get %>

      <% elsif user_signed_in? %>
        <%= link_to 'Dashboard', user_tables_path(current_user) %>
        <%= link_to 'Sign Out', destroy_user_session_url, method: :delete %>

      <% elsif patron_signed_in? %>
        <%= link_to 'Profile', patron_path(current_patron) %>
        <%= link_to 'My Favourites', patron_favourites_path(current_patron) %>
        <%= link_to 'Sign Out', destroy_patron_session_url, method: :delete %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
